.navbar_top_margin {
  height: 5%;
}
.navbar {
  height: 10%;
}

.search {
  height: 5%;
}


/* .upper {
  height: 15%;
  min-width: 100%;
  display: flex;
  justify-content: center;
} */

.deco {
  height: 10%;
}

.decoimag {
  position: absolute;
  display:flex;
  width: 100%;
  /* justify-content: center;
  align-items: center; */
}

.friends {

  height: 70%
}
