.navbar_top_margin {
  height: 5%;
}
.navbar {
  height: 10%;
}

.board_body {
  height: 85%;
}

.board_body_box {
  position: relative;
}

.board_card {
  position: absolute;
  margin: 15px;
  background: rgb(245, 217, 217);
}

.text_button {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  margin : 20px;
  color: rgb(236, 236, 236)
}






