.navbar_top_margin {
  height: 5%;
}
.navbar {
  height: 10%;
}

.navbar_info {
  height: 5%;
}

.navbar_info_text{
  display: flex;
  justify-content: center;
}

.collection_box {
  height: 80%;
  background-image: url('../public/images/CollectionBackground.png');
  /* background-image: url('../public/images/deco1.png'); */
}

.flower_deco {
  position: absolute;
  /* z-index: 2; */
  width: 100%;
}