.custom_main_content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.upper {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: end;
}
.lower {
  height: 10%;
}
.decoration {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.three_container {
  height: 75%;
}

.vertical_div {
}

.font_test {
  font-family:'MaruBuri-Regular';
  font-weight: lighter;
  font-size: 2em;
}