.avatar {
  max-width: 100%;
  max-height: 100%;
  position: relative;
}

.arrow {
  position: absolute;
  z-index: 3;
}

.cntmenu_text {
  font-family:'MaruBuri-Regular';
  font-weight: 500;
  font-size: 1.9rem; 
  text-align: center;
  color: #4E5D39;
  margin: 0;
}