.navbar_top_margin {
  height: 5%;
}
.navbar {
  height: 10%;
}

.navbar_info {
  height: 5%;
}

.navbar_info_text{
  display: flex;
  justify-content: center;
}

.collection_box {
  position: relative;
  height: 80%;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,2,59,1) 100%);
  /* background-image: url('../public/images/deco1.png'); */
}

.flower_deco {
  position: absolute;
  z-index: 3;
  width: 100%;
}

.collection_box_top {
  display: flex;
  justify-content: center;
}

.collection_mysnowball {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 15vh;
  /* padding-top: 50px; */
  margin-top: 150px;
}

.snowList {
  position: relative;
  z-index: 2;
}

.collection_mysnowball2 {
  position: relative;
  width: 100%;
  height: 15vh;
  z-index: 2;
  margin-top: 70px;
}

.collection_mysnowball3 {
  position: relative;
  width: 100%;
  height: 15vh;
  z-index: 2;
  margin-top: 70px;
}

.collection_carousel_div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.collection_carousel_img {
  width: 80%;
}

.collection_carousel {
  height: 100%;
}

.save_button_container {
  height: 5%;
  display: flex;
  justify-content: center;
}
.save_button {
  border-radius: 100em;
  border-width: 1.8px;
  height: 100%;
  width: 20%;
  align-self: center;
  padding: 0;
  margin: auto;
  font-family:'MaruBuri-Regular';
  font-size: 1.2rem;
  font-weight: medium;
  color:#fff5e3;
  border-color: #fff5e3;
  margin-left: 10%;
  margin-right: 10%; 
}
.save_button:hover {
  border-color: #fff5e38b;
  color: #fff5e38b;
}

.current_button_container {
  height: 5%;
  width: 30%;
  display: flex;
  justify-content: center;
}

.current_button {
  border-radius: 100em;
  border-width: 1.8px;
  height: 100%;
  width: 100%;
  align-self: center;
  padding: 0;
  margin: auto;
  font-family:'MaruBuri-Regular';
  font-size: 1.2rem;
  font-weight: medium;
  color:#fff5e3;
  border-color: #fff5e3;
  margin-left: 10%;
  margin-right: 10%; 
}