html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* background-image : url('../public/images/backImage.png'); */
  width: 100%;
  min-height: 100vh;
  min-height: -webkit-fil-available;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #FFF3E1;
    background: #FFF3E1;
  }
}

#root_div {
  height: 100%;
  /* min-height: 100vh; */
  /* min-height: -webkit-fill-available;  */
  width: 100vw;
}

#container_div {
  height: 100%;
  /* min-height: 100vh; */
  /* min-height: -webkit-fill-available;  */
  width: 100vw;
}

#left_div {
  height: 100%;
}

#right_div {
  height: 100%;
}

#main_div {
  background-image : url('./assets/images/backImage.png');
  background-size: cover;
  position: relative;
  height: 100%;
  width: 100%;
}

.MuiMobileStepper-dot{
  background-color: #A6D388;
  width: 10px;
  height: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.MuiMobileStepper-dotActive{
  background-color: #048320;
}

.cntmenu-text {
  font-family:'MaruBuri-Regular';
  font-weight: lighter;
  font-size: 2em;
  text-align: center;
}

.MuiSpeedDial-fab {
  background-color: transparent; 
  background-image: url('./assets/images/wreath_2.png');
  background-size: 105.7%;
  box-shadow: none;
}

::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
}

::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #A6D388; /* 스크롤바의 색상 */

  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(216, 248, 176, 0.4); /*스크롤바 뒷 배경 색상*/
}