html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* background-image : url('../public/images/backImage.png'); */
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #FFF3E1;
    background: #FFF3E1;
  }
}

#root_div {
  height: 100vh;
  width: 100vw;
}

#container_div {
  height: 100vh;
  width: 100vw;
}

#left_div {
  height: 100%;
}

#right_div {
  height: 100%;
}

#main_div {
  background-image : url('../public/images/backImage.png');
  height: 100%;
  width: 100%;
}

.MuiMobileStepper-dot{
  background-color: #A6D388;
  width: 10px;
  height: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.MuiMobileStepper-dotActive{
  background-color: #048320;
}
